extends layout

block main-content

    div(class='a-container')
        div
            h1.page-title #{title}
            p Korean food is known for its bold flavors and use of a variety of ingredients. Some of the key elements that make Korean food unique include:
            ol 
                li Kimchi: a fermented vegetable dish that is often served as a side dish and is known for its spicy and tangy flavor.

                li Gochujang: a spicy red pepper paste that is used as a base for many Korean dishes such as bibimbap and jjigae.

                li Grilled meats: Korean barbecue, or "bulgogi" is a popular dish that features thinly sliced marinated meats that are grilled to perfection.

                li Noodles and rice: Korean cuisine features a variety of noodle and rice dishes such as "japchae" and "bibimbap" that are both delicious and filling.

                li Fresh ingredients: Korean food often features a variety of fresh vegetables such as lettuce, sprouts, and spinach, which add to the balance of the flavors in the dish.

                li Healthful: Many Korean dishes are low in fat and high in vitamins and minerals due to the use of fresh ingredients and fermented foods like kimchi.

                li Variety: Korean cuisine has a diverse range of dishes, from soups and stews to grilled meats and vegetable dishes, there is something for everyone.
        img(id="aboutimg" src="/img/8.jpg")
    

        
//- https://pixabay.com/photos/gift-new-year-s-eve-congratulation-4669449/
