extends layout

block append script 
block main-content
    h1.page-title #{title}
    p Welcome to our online souvenir shop, where you can find unique and authentic mementos to remember your travels.
    div.overflow
        div.swiper__container
            div(class="swiper__container_sub")
                img(src="/img/anh-nguyen-kcA-c3f_3FE-unsplash.jpg")
            div(class="swiper__container_sub")
                img(src="/img/chicken-soup-gf61adee8c_640.jpg")
            div(class="swiper__container_sub")
                img(src="/img/delaney-van-pmTMvAd8akU-unsplash.jpg")

    button.btn__1 1
    button.btn__2 2
    button.btn__3 3

        //- div(class="sub-c")
        //-     img(src="/img/delicious-ga951b72f0_640.jpg")
        //-     a(class='button' href='/') Buy
        //- div(class="sub-c")
        //-     img(src="/img/ehimetalor-akhere-unuabona-Zh0mYmMBZjQ-unsplash.jpg")
        //-     a(class='button' href='/') Buy
        //- div(class="sub-c")
        //-     img(src="/img/6.jpg")
        //-     a(class='button' href='/') Buy
        //- div(class="sub-c")
        //-     img(src="/img/7.jpg")
        //-     a(class='button' href='/') Buy
        

        //- div(class='container')
        //- div(class="sub-c")
        //-     img(src="/img/anh-nguyen-kcA-c3f_3FE-unsplash.jpg")
        //-     a(class='button' href='/') Buy
        //- div(class="sub-c")
        //-     img(src="/img/chicken-soup-gf61adee8c_640.jpg")
        //-     a(class='button' href='/') Buy
        //- div(class="sub-c")
        //-     img(src="/img/delaney-van-pmTMvAd8akU-unsplash.jpg")
        //-     a(class='button' href='/') Buy
        //- div(class="sub-c")
        //-     img(src="/img/delicious-ga951b72f0_640.jpg")
        //-     a(class='button' href='/') Buy
        //- div(class="sub-c")
        //-     img(src="/img/ehimetalor-akhere-unuabona-Zh0mYmMBZjQ-unsplash.jpg")
        //-     a(class='button' href='/') Buy
        //- div(class="sub-c")
        //-     img(src="/img/6.jpg")
        //-     a(class='button' href='/') Buy
        //- div(class="sub-c")
        //-     img(src="/img/7.jpg")
        //-     a(class='button' href='/') Buy
        

    //https://pixabay.com/images/search/souvenir/?manual_search=1